* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #E1D4E0;
  min-width: 400px;
}

@media only screen and (max-width: 800px) {
  body {
      font-size: 1rem;
      min-width: 300px;
  }
}